<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musiccentral">

    <permission android:name="permission.MusicService" >
    </permission>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher" >

        <service
            android:name=".MyService"
            android:exported="true"
            android:permission="permission.MusicService" >
            <intent-filter>
                <action android:name="com.example.musiccommon.MusicDataGenerator" />
            </intent-filter>

        </service>
    </application>

</manifest>